<div class="main-wrapper">
  <div class="side"></div>
    <div class="farm-show">
      <h2 class="main-title"><%= @nickname %>さんの商品一覧</h2>
      <ul class="farm-item-lists">
        <% @items.each do |item| %>
          <li class="farm-item-list">
            <%= link_to item_path(item.id) do %>
              <div class="item-img-content">
                <%# <%= image_tag item.image, class: "item-images" %>  %>
              <%# 後で使用 %>
                <%# <% if item.order.present? %> 
                  <%# <div class='sold-out'> %>
                    <%# <span>売り切れ!!</span> %>
                  <%# </div> %> 
                <%# <% end %> 
              </div>
              <div class='item-info'>
                <h3 class='item-name'>
                  <%= "#{item.product}" %>
                </h3>
                <div class='item-price'>
                  <span><%= "#{item.price}" %>
                  円<br><%= "#{item.shipping_fee.name}" %>
                  </span>  
                </div>
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
