<div class="main-wrapper">
  <div class="side"></div>
  <div class="item-contents">
    <h2 class="main-title">商品一覧</h2>
    <ul class="item-lists">
      <% @items.each do |item| %>
        <li class="list">
          <%= link_to item_path(item.id) do %>
          <div class="item-img-content">
            <%# <%= image_tag item.image, class: "item-images" %>  %>
           <%# 後で使用 %>
            <%# <% if item.order.present? %> 
              <%# <div class='sold-out'> %>
                <%# <span>売り切れ!!</span> %>
              <%# </div> %> 
            <%# <% end %> 
          </div>
          <div class='item-info'>
            <h3 class='item-name'>
              <%= "#{item.product}" %>
            </h3>
            <div class='item-price'>
              <span><%= "#{item.price}" %>
              円<br><%= "#{item.shipping_fee.name}" %>
              </span>  
            </div>
          </div>
          <% end %>
        </li>
      <% end %>
      <% if @items.length == 0 %> 
        <li class='list'>
          <%= link_to '#' do %>
          <%= image_tag "https://tech-master.s3.amazonaws.com/uploads/curriculums/images/Rails1-4/sample.jpg", class: "item-image" %> 
            <div class='item-info'>
              <h3 class='item-name'>
                  商品を出品してださい。
              </h3>
              <div class='item-price'>
                <span>99999999円<br>(税込み)</span>
              </div>
            </div> 
          <% end %> 
        </li>
      <% end %> 
    </ul>
    
    <%# <%= paginate @items, class: 'page' %> 
 
  </div>
</div>
</div>
