<div class="main-wrapper">
  <div class="side"></div>
  <div class="sell-main">
    <h2 class="sell-title">商品の情報を入力</h2>
    <%= form_with model: @item, class: "sell-form", local: true  do |f| %>

    <%= render 'shared/error', model: f.object %>

    <div class="img-upload">
      <div class="weight-bold-text">
        出品画像
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image, id:"item-image" %>
        <div id="image-list"></div>
      </div>
    </div>
    <div class="new-items">
      <div class="weight-bold-text">
        商品名
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :product, class:"items-text", id:"item-name", placeholder:"商品名（必須 40文字まで)", maxlength:"40" %>
    </div>
    <div class="items-explain">
      <div class="weight-bold-text">
        商品の説明
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :description, class:"items-text", id:"item-info", placeholder:"商品の説明（必須 1,000文字まで）" ,rows:"7" ,maxlength:"1000" %>
    </div>
    <div class="items-detail">
      <div class="weight-bold-text">商品の詳細</div>
      <div class="form">
        <div class="weight-bold-text">
          カテゴリー
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
        <div class="weight-bold-text">
          商品の状態
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:states_id, States.all, :id, :name, {}, {class:"select-box", id:"item-sales-status"}) %>
      </div>
    </div>
    <div class="items-delivery-detail">
      <div class="weight-bold-text">
        <span>配送について</span>
      </div>
      <div class="form">
        <div class="weight-bold-text">
          配送料の負担
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:shipping_fee_id, ShippingFee.all, :id, :name, {}, {class:"select-box", id:"item-shipping-fee-status"}) %>
        <div class="weight-bold-text">
          発送元の地域
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:region_id, Region.all, :id, :name, {}, {class:"select-box", id:"item-prefecture"}) %> 
        <div class="weight-bold-text">
          発送までの日数
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:eta_id, Eta.all, :id, :name, {}, {class:"select-box", id:"item-scheduled-delivery"}) %>
      </div>
    </div>
    <div class="sell-price">
      <div class="weight-bold-text">
        <span>販売価格<br>(¥10〜9,999,999)</span>
      </div>
      <div class="price-contents">
        <div class="price-content">
          <div class="price-text">
            <span>価格</span>
            <span class="indispensable">必須</span>
          </div>
          <span class="sell-yen">¥</span>
          <%= f.text_field :price, class:"price-input", id:"item-price", placeholder:"例）300" %>
        </div>
        <div class="price-content">
          <span>販売手数料 (10%)</span>
          <span>
            <span id='add-tax-price'></span>円
          </span>
        </div>
        <div class="price-content">
          <span>販売利益</span>
          <span>
            <span id='profit'></span>円
        </div>
        </span>
        <%# 後で使用する %>
        <%# <script src="javascript/price.js"></script> %>
      </div>
    </div>
    <div class="sell-btn-contents">
      <div class="sell-btn-content">
        <%= f.submit "出品する", class:"sell-btn" %>
      </div>
      <div class="back-btn-content">
        <%=link_to '戻る', root_path, class:"back-btn" %>
      </div>
    </div>
  </div>
  <% end %>
</div>