<!DOCTYPE html>
<html>
  <head>
    <title>BuyApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-bar">
        <div class="header-left">
          <h1 id="logo">
            <%= link_to "ワケアリ", root_path, class: "logo" %>
          </h1>
        </div>
        <div class="header-right">
          <% if farm_signed_in? %>
            <%= link_to "#{current_farm.nickname}さん", root_path, class: "user-name", id: "name-btn" %>
            <%= link_to "ログアウト", destroy_farm_session_path, class: "logout", id: "logout-btn", method: :delete %>
            <%= link_to "退会", farm_registration_path, class: "sign-out", id:"sign-out-btn", method: :delete %>
            <%= link_to "商品一覧", root_path, class: "item-container" %> 
            <%= link_to "出品", "/items/new/", class: "new-item" %> 
          <% elsif store_signed_in? %>
            <%= link_to "#{current_store.nickname}さん", root_path, class: "user-name", id: "name-btn" %>
            <%= link_to "ログアウト", destroy_store_session_path, class: "logout", id: "logout-btn", method: :delete %>
            <%= link_to "退会", store_registration_path, class: "sign-out", id:"sign-out-btn", method: :delete %>
            <%= link_to "商品一覧", root_path, class: "item-container" %> 
          <% else %>
            <%= link_to "ログイン", new_farm_session_path, class: "login", id: "login-btn" %>
            <%= link_to "新規登録", new_farm_registration_path, class: "sign-up", id: "signup-btn" %>
            <%= link_to "商品一覧", root_path, class: "item-container" %>
          <% end %> 
        </div>
      </div>
    </header>
    <%= yield %>
    <footer>
      <div class="footer-bar">
        <div class="footer-word"> ~ワケアリ~ </div>
      </div>
    </footer>
  </body>
</html>
